.btncls {
  text-decoration: none;
  color: orange;
  width: 180px;
  height: 60px;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  font-size: 18px;
  font-weight: bold;
}

.btncls:hover {
  color: white;
  background-color: orange;
}
