@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color-primary: #8c85ff;
$color-secondary: #fc5185;

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 50px;
  margin-bottom: 600px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
}

.service-container {
  width: 300px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.2s;
}

.service-container:hover {
  transform: scale(1.1);
}

.service-title {
  font-size: 28px;
  margin-top: 2%;
  font-weight: 700;
  margin-top: 20px;
  color: #11116a;
}

.service-subtitle {
  margin-top: 3%;
}

.service-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  gap: 2%;
}

.old-price {
  text-decoration: line-through;
  font-weight: 300;
}

.save-price {
  background-color: $color-primary;
  padding: 10px;
  border-radius: 20px;
  color: white;
  width: 80px;
  text-align: center;
}

.most-popular {
  background-color: $color-secondary;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.service-btn {
  margin-top: 40px;
  width: 80%;
  border-radius: 20px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: $color-primary;
  font-weight: 600;
}

.service-btn:hover {
  background-color: #6964c1;
}

.service2-btn {
  @extend .service-btn;
  background-color: $color-secondary;
}

.service2-btn:hover {
  background-color: rgb(209 70 112);
}

.features-list {
  list-style: armenian;
}
