.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

span {
  font-family: Onyx;
  src: url('../assests/font/OPTIOnyx.otf');
  color: white;
  font-size: 43px;
}
